In [1]:
import sqlite3

conn = sqlite3.connect('bank_database.db')
cursor = conn.cursor()

In [2]:
# db 생성
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    name TEXT NOT NULL,
    phone TEXT,
    age INTEGER,
    job TEXT,
    marital TEXT,
    education TEXT,
    de_fault TEXT,
    balance INTEGER,
    housing TEXT,
    loan TEXT,
    contact TEXT,
    day INTEGER,
    month TEXT,
    duration INTEGER,
    campaign INTEGER,
    pdays INTEGER,
    previous INTEGER,
    poutcome TEXT,
    deposit TEXT
)
""")

0   이름         500 non-null    object
 1   전화번호       500 non-null    object
 2   age        500 non-null    int64 
 3   job        500 non-null    object
 4   marital    500 non-null    object
 5   education  500 non-null    object
 6   default    500 non-null    object
 7   balance    500 non-null    int64 
 8   housing    500 non-null    object
 9   loan       500 non-null    object
 10  contact    500 non-null    object
 11  day        500 non-null    int64 
 12  month      500 non-null    object
 13  duration   500 non-null    int64 
 14  campaign   500 non-null    int64 
 15  pdays      500 non-null    int64 
 16  previous   500 non-null    int64 
 17  poutcome   500 non-null    object
 18  deposit    500 non-null    object

In [3]:
import pandas as pd

users_df = pd.read_csv('bank_marketing_user.csv')
users_df = users_df.rename(columns={'이름':'name', '전화번호':'phone', 'default': 'de_fault'})
users_df.head()

,name,phone,age,job,marital,education,de_fault,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,최예준,010-5479-6150,46,management,married,unknown,no,2466,no,no,telephone,1,apr,216,3,370,1,failure,yes
1,홍서연,010-9945-4336,40,unemployed,divorced,secondary,no,262,yes,no,unknown,14,may,163,5,-1,0,unknown,no
2,박지호,010-0312-4482,52,management,married,tertiary,no,2428,yes,no,cellular,21,nov,294,1,116,3,failure,no
3,서예준,010-7547-5085,26,technician,single,tertiary,no,515,no,no,cellular,31,may,775,1,-1,0,unknown,yes
4,조서윤,010-7543-6357,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes

In [6]:
users_df['phone'] = users_df['phone'].str.replace('-', '')
users_df.head()

,name,phone,age,job,marital,education,de_fault,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,최예준,01054796150,46,management,married,unknown,no,2466,no,no,telephone,1,apr,216,3,370,1,failure,yes
1,홍서연,01099454336,40,unemployed,divorced,secondary,no,262,yes,no,unknown,14,may,163,5,-1,0,unknown,no
2,박지호,01003124482,52,management,married,tertiary,no,2428,yes,no,cellular,21,nov,294,1,116,3,failure,no
3,서예준,01075475085,26,technician,single,tertiary,no,515,no,no,cellular,31,may,775,1,-1,0,unknown,yes
4,조서윤,01075436357,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes

In [7]:
users_df.values
users = [tuple(v) for v in users_df.values]
users

[('최예준',
  '01054796150',
  46,
  'management',
  'married',
  'unknown',
  'no',
  2466,
  'no',
  'no',
  'telephone',
  1,
  'apr',
  216,
  3,
  370,
  1,
  'failure',
  'yes'),
 ('홍서연',
  '01099454336',
  40,
  'unemployed',
  'divorced',
  'secondary',
  'no',
  262,
  'yes',
  'no',
  'unknown',
  14,
  'may',
  163,
  5,
  -1,
  0,
  'unknown',
  'no'),
 ('박지호',
  '01003124482',
  52,
  'management',
  'married',
  'tertiary',
  'no',
  2428,
  'yes',
  'no',
  'cellular',
  21,
  'nov',
  294,
  1,
  116,
  3,
  'failure',
  'no'),
 ('서예준',
  '01075475085',
  26,
  'technician',
  'single',
  'tertiary',
  'no',
  515,
  'no',
  'no',
  'cellular',
  31,
  'may',
  775,
  1,
  -1,
  0,
  'unknown',
  'yes'),
 ('조서윤',
  '01075436357',
  46,
  'blue-collar',
  'single',
  'tertiary',
  'no',
  460,
  'yes',
  'no',
  'unknown',
  7,
  'may',
  1102,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('한유진',
  '01088829208',
  45,
  'blue-collar',
  'single',
  'secondary',
  'no',
  0,
  'yes',
  'no',
  'cellular',
  26,
  'apr',
  1472,
  1,
  192,
  4,
  'failure',
  'yes'),
 ('오하은',
  '01049665363',
  34,
  'services',
  'married',
  'secondary',
  'no',
  -451,
  'yes',
  'yes',
  'cellular',
  23,
  'jul',
  498,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('권시우',
  '01010885600',
  39,
  'management',
  'married',
  'tertiary',
  'no',
  141,
  'yes',
  'no',
  'cellular',
  13,
  'may',
  788,
  2,
  331,
  6,
  'other',
  'no'),
 ('정서준',
  '01089532476',
  38,
  'technician',
  'single',
  'tertiary',
  'no',
  508,
  'yes',
  'yes',
  'cellular',
  12,
  'aug',
  1103,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('오하은',
  '01087681108',
  37,
  'blue-collar',
  'married',
  'primary',
  'no',
  1322,
  'yes',
  'no',
  'cellular',
  21,
  'nov',
  14,
  8,
  185,
  1,
  'other',
  'no'),
 ('신유진',
  '01007690513',
  29,
  'technician',
  'single',
  'secondary',
  'no',
  309,
  'yes',
  'no',
  'unknown',
  13,
  'may',
  214,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('신하은',
  '01031891947',
  36,
  'management',
  'single',
  'tertiary',
  'no',
  490,
  'no',
  'no',
  'cellular',
  28,
  'aug',
  207,
  8,
  98,
  1,
  'failure',
  'yes'),
 ('권소율',
  '01090965178',
  30,
  'technician',
  'single',
  'tertiary',
  'no',
  2325,
  'no',
  'no',
  'cellular',
  10,
  'aug',
  263,
  1,
  127,
  7,
  'failure',
  'yes'),
 ('권지아',
  '01030301720',
  39,
  'housemaid',
  'married',
  'tertiary',
  'no',
  2990,
  'no',
  'no',
  'telephone',
  30,
  'apr',
  127,
  4,
  -1,
  0,
  'unknown',
  'no'),
 ('윤은서',
  '01096210918',
  53,
  'management',
  'married',
  'secondary',
  'no',
  2693,
  'no',
  'no',
  'cellular',
  5,
  'mar',
  90,
  1,
  104,
  1,
  'failure',
  'yes'),
 ('조예서',
  '01028578447',
  64,
  'management',
  'married',
  'unknown',
  'no',
  2352,
  'no',
  'no',
  'cellular',
  3,
  'nov',
  181,
  4,
  183,
  7,
  'success',
  'yes'),
 ('서서연',
  '01029469341',
  45,
  'management',
  'married',
  'tertiary',
  'no',
  1529,
  'no',
  'no',
  'cellular',
  30,
  'jun',
  160,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('권윤서',
  '01006531232',
  59,
  'self-employed',
  'married',
  'tertiary',
  'no',
  2013,
  'no',
  'no',
  'cellular',
  19,
  'feb',
  222,
  4,
  94,
  2,
  'success',
  'yes'),
 ('강수아',
  '01025737862',
  52,
  'management',
  'married',
  'secondary',
  'no',
  0,
  'yes',
  'yes',
  'unknown',
  27,
  'may',
  62,
  13,
  -1,
  0,
  'unknown',
  'no'),
 ('장은서',
  '01085639958',
  43,
  'admin.',
  'single',
  'secondary',
  'no',
  386,
  'no',
  'no',
  'cellular',
  12,
  'oct',
  242,
  1,
  92,
  4,
  'success',
  'no'),
 ('박하윤',
  '01063203729',
  27,
  'services',
  'married',
  'secondary',
  'no',
  221,
  'no',
  'yes',
  'cellular',
  7,
  'jul',
  554,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('오예은',
  '01053564926',
  35,
  'blue-collar',
  'married',
  'unknown',
  'no',
  4822,
  'yes',
  'no',
  'unknown',
  20,
  'may',
  843,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('윤서윤',
  '01058273410',
  56,
  'blue-collar',
  'married',
  'primary',
  'no',
  8163,
  'no',
  'no',
  'cellular',
  14,
  'aug',
  1231,
  4,
  -1,
  0,
  'unknown',
  'yes'),
 ('오지민',
  '01016269684',
  60,
  'retired',
  'married',
  'secondary',
  'no',
  0,
  'no',
  'no',
  'cellular',
  5,
  'aug',
  143,
  3,
  -1,
  0,
  'unknown',
  'no'),
 ('김민서',
  '01044814190',
  35,
  'technician',
  'married',
  'secondary',
  'no',
  294,
  'yes',
  'no',
  'cellular',
  15,
  'jun',
  238,
  6,
  98,
  5,
  'success',
  'no'),
 ('임서윤',
  '01020400341',
  45,
  'technician',
  'married',
  'secondary',
  'no',
  1348,
  'no',
  'yes',
  'cellular',
  1,
  'apr',
  358,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('권예준',
  '01069741547',
  36,
  'blue-collar',
  'married',
  'secondary',
  'no',
  3463,
  'yes',
  'no',
  'telephone',
  21,
  'nov',
  29,
  4,
  -1,
  0,
  'unknown',
  'no'),
 ('김은서',
  '01045590249',
  63,
  'blue-collar',
  'married',
  'secondary',
  'no',
  641,
  'no',
  'no',
  'cellular',
  27,
  'may',
  417,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('오예서',
  '01006080060',
  42,
  'technician',
  'married',
  'secondary',
  'no',
  3082,
  'no',
  'no',
  'cellular',
  11,
  'sep',
  285,
  1,
  -1,
  0,
  'unknown',
  'yes'),
 ('송주원',
  '01017739233',
  51,
  'admin.',
  'married',
  'tertiary',
  'no',
  0,
  'yes',
  'yes',
  'cellular',
  8,
  'mar',
  124,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('송수아',
  '01016109439',
  36,
  'management',
  'married',
  'tertiary',
  'no',
  0,
  'yes',
  'no',
  'unknown',
  27,
  'may',
  145,
  2,
  -1,
  0,
  'unknown',
  'no'),
 ('김지호',
  '01042999062',
  21,
  'student',
  'single',
  'tertiary',
  'no',
  1258,
  'no',
  'no',
  'cellular',
  7,
  'jul',
  404,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('안서준',
  '01084110113',
  50,
  'services',
  'single',
  'secondary',
  'no',
  1716,
  'yes',
  'no',
  'cellular',
  7,
  'apr',
  272,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('이예준',
  '01060108114',
  30,
  'management',
  'single',
  'secondary',
  'no',
  1299,
  'no',
  'no',
  'cellular',
  14,
  'aug',
  515,
  2,
  -1,
  0,
  'unknown',
  'no'),
 ('신예준',
  '01010890116',
  42,
  'admin.',
  'divorced',
  'secondary',
  'no',
  241,
  'yes',
  'no',
  'cellular',
  15,
  'may',
  1012,
  3,
  -1,
  0,
  'unknown',
  'yes'),
 ('정지아',
  '01066629738',
  63,
  'self-employed',
  'married',
  'tertiary',
  'no',
  -39,
  'no',
  'no',
  'cellular',
  1,
  'apr',
  387,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('윤서연',
  '01056104956',
  38,
  'management',
  'single',
  'tertiary',
  'no',
  8669,
  'yes',
  'no',
  'telephone',
  20,
  'apr',
  5,
  3,
  150,
  6,
  'failure',
  'no'),
 ('류지원',
  '01033894590',
  39,
  'housemaid',
  'married',
  'tertiary',
  'no',
  94,
  'no',
  'no',
  'cellular',
  6,
  'aug',
  181,
  2,
  -1,
  0,
  'unknown',
  'no'),
 ('임지민',
  '01051033312',
  43,
  'self-employed',
  'divorced',
  'secondary',
  'no',
  347,
  'no',
  'no',
  'cellular',
  19,
  'nov',
  1468,
  3,
  -1,
  0,
  'unknown',
  'yes'),
 ('한시우',
  '01088011196',
  38,
  'management',
  'married',
  'tertiary',
  'no',
  1223,
  'no',
  'no',
  'cellular',
  12,
  'aug',
  1092,
  5,
  -1,
  0,
  'unknown',
  'yes'),
 ('강주원',
  '01084702876',
  38,
  'admin.',
  'married',
  'secondary',
  'no',
  1767,
  'yes',
  'no',
  'cellular',
  12,
  'nov',
  893,
  7,
  -1,
  0,
  'unknown',
  'yes'),
 ('임지원',
  '01009924674',
  31,
  'unemployed',
  'divorced',
  'primary',
  'no',
  0,
  'yes',
  'no',
  'unknown',
  30,
  'may',
  745,
  12,
  -1,
  0,
  'unknown',
  'yes'),
 ('송다은',
  '01013869957',
  54,
  'technician',
  'married',
  'secondary',
  'no',
  473,
  'no',
  'yes',
  'cellular',
  2,
  'nov',
  182,
  1,
  81,
  1,
  'failure',
  'yes'),
 ('윤예은',
  '01000729073',
  34,
  'entrepreneur',
  'married',
  'secondary',
  'no',
  3119,
  'yes',
  'no',
  'unknown',
  21,
  'may',
  250,
  4,
  -1,
  0,
  'unknown',
  'no'),
 ('송채원',
  '01040794087',
  50,
  'entrepreneur',
  'married',
  'tertiary',
  'no',
  -168,
  'yes',
  'no',
  'cellular',
  23,
  'jul',
  1327,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('오준서',
  '01091921583',
  34,
  'admin.',
  'married',
  'secondary',
  'no',
  2064,
  'yes',
  'no',
  'unknown',
  26,
  'may',
  165,
  2,
  -1,
  0,
  'unknown',
  'no'),
 ('홍민서',
  '01082192423',
  49,
  'admin.',
  'single',
  'secondary',
  'no',
  716,
  'yes',
  'no',
  'unknown',
  15,
  'may',
  1257,
  3,
  -1,
  0,
  'unknown',
  'yes'),
 ('한하준',
  '01013725918',
  41,
  'entrepreneur',
  'married',
  'secondary',
  'no',
  30,
  'no',
  'no',
  'cellular',
  30,
  'apr',
  460,
  1,
  -1,
  0,
  'unknown',
  'yes'),
 ('송민준',
  '01023846045',
  52,
  'technician',
  'married',
  'secondary',
  'no',
  930,
  'yes',
  'no',
  'unknown',
  2,
  'jun',
  94,
  16,
  -1,
  0,
  'unknown',
  'no'),
 ('정하윤',
  '01062455158',
  47,
  'management',
  'single',
  'tertiary',
  'no',
  255,
  'no',
  'yes',
  'cellular',
  30,
  'jul',
  802,
  4,
  -1,
  0,
  'unknown',
  'yes'),
 ('김지원',
  '01066378174',
  31,
  'management',
  'single',
  'tertiary',
  'no',
  1761,
  'yes',
  'no',
  'telephone',
  29,
  'jul',
  332,
  3,
  440,
  3,
  'failure',
  'yes'),
 ('황민준',
  '01092303543',
  37,
  'management',
  'single',
  'tertiary',
  'no',
  876,
  'yes',
  'no',
  'cellular',
  15,
  'apr',
  140,
  4,
  327,
  2,
  'failure',
  'no'),
 ('윤지원',
  '01077442015',
  56,
  'housemaid',
  'married',
  'primary',
  'no',
  445,
  'no',
  'no',
  'cellular',
  21,
  'nov',
  13,
  6,
  -1,
  0,
  'unknown',
  'no'),
 ('조주원',
  '01067403463',
  30,
  'entrepreneur',
  'married',
  'secondary',
  'no',
  12737,
  'no',
  'yes',
  'cellular',
  19,
  'nov',
  589,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('윤은서',
  '01033350759',
  37,
  'admin.',
  'married',
  'secondary',
  'no',
  96,
  'no',
  'no',
  'cellular',
  7,
  'aug',
  155,
  1,
  99,
  2,
  'success',
  'yes'),
 ('장하윤',
  '01021475904',
  50,
  'entrepreneur',
  'married',
  'secondary',
  'no',
  2731,
  'no',
  'no',
  'cellular',
  8,
  'aug',
  111,
  2,
  -1,
  0,
  'unknown',
  'no'),
 ('오민준',
  '01084527901',
  36,
  'technician',
  'single',
  'secondary',
  'no',
  2511,
  'yes',
  'no',
  'cellular',
  16,
  'apr',
  700,
  5,
  -1,
  0,
  'unknown',
  'yes'),
 ('강준서',
  '01045771678',
  28,
  'technician',
  'single',
  'secondary',
  'no',
  2335,
  'no',
  'no',
  'cellular',
  13,
  'may',
  624,
  1,
  -1,
  0,
  'unknown',
  'yes'),
 ('류지원',
  '01056473191',
  45,
  'admin.',
  'married',
  'secondary',
  'no',
  1097,
  'yes',
  'yes',
  'cellular',
  2,
  'feb',
  174,
  1,
  208,
  1,
  'failure',
  'no'),
 ('정예준',
  '01042159254',
  36,
  'management',
  'single',
  'unknown',
  'no',
  62,
  'no',
  'no',
  'cellular',
  13,
  'jul',
  311,
  1,
  91,
  2,
  'success',
  'yes'),
 ('신도윤',
  '01020079893',
  29,
  'unemployed',
  'single',
  'unknown',
  'no',
  1584,
  'no',
  'no',
  'cellular',
  6,
  'sep',
  245,
  1,
  -1,
  0,
  'unknown',
  'yes'),
 ('장준서',
  '01003525170',
  45,
  'blue-collar',
  'single',
  'secondary',
  'no',
  0,
  'yes',
  'no',
  'cellular',
  16,
  'oct',
  283,
  1,
  165,
  3,
  'failure',
  'no'),
 ('오민서',
  '01030728978',
  34,
  'admin.',
  'married',
  'secondary',
  'no',
  -312,
  'yes',
  'no',
  'unknown',
  9,
  'may',
  232,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('윤지민',
  '01034033862',
  31,
  'services',
  'single',
  'secondary',
  'no',
  1709,
  'no',
  'yes',
  'telephone',
  28,
  'jan',
  944,
  3,
  -1,
  0,
  'unknown',
  'yes'),
 ('류민준',
  '01083503002',
  60,
  'retired',
  'married',
  'secondary',
  'no',
  938,
  'no',
  'no',
  'cellular',
  13,
  'jan',
  380,
  3,
  -1,
  0,
  'unknown',
  'yes'),
 ('임지원',
  '01095188991',
  37,
  'management',
  'married',
  'tertiary',
  'no',
  5016,
  'no',
  'no',
  'cellular',
  8,
  'aug',
  119,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('황지유',
  '01002686340',
  36,
  'technician',
  'married',
  'secondary',
  'no',
  3579,
  'no',
  'no',
  'cellular',
  14,
  'aug',
  308,
  2,
  -1,
  0,
  'unknown',
  'no'),
 ('한시우',
  '01018174262',
  60,
  'retired',
  'married',
  'secondary',
  'no',
  0,
  'yes',
  'no',
  'unknown',
  15,
  'may',
  229,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('조소율',
  '01017803506',
  35,
  'blue-collar',
  'married',
  'primary',
  'no',
  624,
  'yes',
  'no',
  'unknown',
  7,
  'may',
  163,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('김지호',
  '01020040490',
  61,
  'retired',
  'married',
  'secondary',
  'no',
  77,
  'no',
  'no',
  'cellular',
  6,
  'aug',
  455,
  4,
  -1,
  0,
  'unknown',
  'yes'),
 ('윤다은',
  '01059115530',
  31,
  'admin.',
  'single',
  'secondary',
  'no',
  81,
  'yes',
  'no',
  'cellular',
  23,
  'apr',
  215,
  2,
  165,
  11,
  'other',
  'no'),
 ('류예준',
  '01036759773',
  46,
  'management',
  'married',
  'tertiary',
  'no',
  273,
  'yes',
  'no',
  'cellular',
  15,
  'sep',
  1962,
  1,
  105,
  3,
  'failure',
  'yes'),
 ('송유진',
  '01023230245',
  47,
  'technician',
  'divorced',
  'secondary',
  'no',
  1851,
  'yes',
  'no',
  'unknown',
  19,
  'may',
  140,
  2,
  -1,
  0,
  'unknown',
  'no'),
 ('강지유',
  '01020574819',
  43,
  'blue-collar',
  'married',
  'primary',
  'no',
  8,
  'no',
  'no',
  'telephone',
  7,
  'jul',
  245,
  5,
  -1,
  0,
  'unknown',
  'no'),
 ('권윤서',
  '01037294021',
  59,
  'management',
  'divorced',
  'tertiary',
  'no',
  1304,
  'no',
  'no',
  'unknown',
  18,
  'jun',
  220,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('임지우',
  '01094926443',
  47,
  'blue-collar',
  'married',
  'primary',
  'no',
  4040,
  'no',
  'no',
  'cellular',
  11,
  'aug',
  53,
  5,
  -1,
  0,
  'unknown',
  'no'),
 ('최예준',
  '01006085340',
  43,
  'management',
  'married',
  'tertiary',
  'no',
  839,
  'no',
  'no',
  'cellular',
  22,
  'jul',
  942,
  1,
  -1,
  0,
  'unknown',
  'yes'),
 ('류지유',
  '01050124350',
  57,
  'management',
  'married',
  'tertiary',
  'no',
  3431,
  'yes',
  'no',
  'unknown',
  16,
  'may',
  73,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('이하준',
  '01013604280',
  57,
  'technician',
  'married',
  'secondary',
  'no',
  295,
  'no',
  'no',
  'cellular',
  19,
  'aug',
  151,
  11,
  -1,
  0,
  'unknown',
  'no'),
 ('김지아',
  '01080864079',
  53,
  'entrepreneur',
  'single',
  'secondary',
  'no',
  62,
  'yes',
  'no',
  'unknown',
  30,
  'may',
  1044,
  5,
  -1,
  0,
  'unknown',
  'yes'),
 ('서지후',
  '01089402794',
  80,
  'retired',
  'married',
  'primary',
  'no',
  2994,
  'no',
  'no',
  'cellular',
  6,
  'aug',
  320,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('박민준',
  '01072717186',
  39,
  'management',
  'married',
  'tertiary',
  'no',
  271,
  'yes',
  'no',
  'cellular',
  12,
  'aug',
  1344,
  1,
  -1,
  0,
  'unknown',
  'yes'),
 ('류수아',
  '01057834985',
  41,
  'blue-collar',
  'single',
  'unknown',
  'no',
  961,
  'yes',
  'no',
  'unknown',
  29,
  'may',
  117,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('홍예준',
  '01033731829',
  42,
  'technician',
  'single',
  'secondary',
  'yes',
  -1129,
  'yes',
  'no',
  'unknown',
  2,
  'jun',
  555,
  5,
  -1,
  0,
  'unknown',
  'yes'),
 ('정하윤',
  '01044575965',
  35,
  'management',
  'single',
  'tertiary',
  'no',
  538,
  'no',
  'no',
  'cellular',
  22,
  'dec',
  410,
  3,
  165,
  2,
  'other',
  'yes'),
 ('서지민',
  '01093159508',
  38,
  'management',
  'married',
  'tertiary',
  'no',
  1463,
  'yes',
  'no',
  'cellular',
  25,
  'aug',
  425,
  4,
  -1,
  0,
  'unknown',
  'no'),
 ('서지아',
  '01067011260',
  48,
  'unknown',
  'single',
  'unknown',
  'no',
  1819,
  'no',
  'no',
  'cellular',
  2,
  'sep',
  1440,
  1,
  458,
  1,
  'failure',
  'yes'),
 ('송소율',
  '01042410185',
  66,
  'retired',
  'married',
  'secondary',
  'no',
  2326,
  'no',
  'yes',
  'cellular',
  18,
  'feb',
  232,
  1,
  181,
  1,
  'success',
  'yes'),
 ('강지유',
  '01023317586',
  30,
  'management',
  'married',
  'tertiary',
  'no',
  131,
  'yes',
  'no',
  'cellular',
  11,
  'aug',
  384,
  6,
  -1,
  0,
  'unknown',
  'yes'),
 ('윤소율',
  '01088435003',
  47,
  'blue-collar',
  'married',
  'secondary',
  'no',
  8229,
  'no',
  'no',
  'cellular',
  8,
  'aug',
  784,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('권지아',
  '01092057123',
  38,
  'services',
  'married',
  'secondary',
  'no',
  968,
  'yes',
  'no',
  'cellular',
  6,
  'apr',
  272,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('황소율',
  '01058237110',
  57,
  'retired',
  'married',
  'primary',
  'no',
  207,
  'yes',
  'no',
  'unknown',
  8,
  'may',
  193,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('김서준',
  '01046591430',
  32,
  'services',
  'single',
  'secondary',
  'no',
  182,
  'yes',
  'no',
  'cellular',
  6,
  'may',
  145,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('한채원',
  '01014037852',
  61,
  'blue-collar',
  'married',
  'primary',
  'no',
  5,
  'no',
  'no',
  'cellular',
  6,
  'aug',
  562,
  2,
  94,
  3,
  'success',
  'yes'),
 ('강민서',
  '01032802440',
  51,
  'blue-collar',
  'married',
  'tertiary',
  'no',
  7816,
  'yes',
  'no',
  'unknown',
  12,
  'may',
  76,
  2,
  -1,
  0,
  'unknown',
  'no'),
 ('황하준',
  '01018466693',
  48,
  'management',
  'married',
  'tertiary',
  'no',
  1167,
  'yes',
  'yes',
  'cellular',
  1,
  'jun',
  264,
  1,
  -1,
  0,
  'unknown',
  'yes'),
 ('조하준',
  '01008290539',
  39,
  'services',
  'married',
  'secondary',
  'no',
  25,
  'yes',
  'yes',
  'cellular',
  12,
  'may',
  658,
  1,
  351,
  3,
  'failure',
  'yes'),
 ('안도윤',
  '01078624431',
  45,
  'admin.',
  'divorced',
  'secondary',
  'no',
  2353,
  'yes',
  'no',
  'cellular',
  5,
  'mar',
  182,
  1,
  107,
  2,
  'other',
  'yes'),
 ('서예준',
  '01072857484',
  22,
  'student',
  'single',
  'secondary',
  'no',
  2162,
  'no',
  'no',
  'telephone',
  2,
  'feb',
  168,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('권민서',
  '01067984779',
  36,
  'unemployed',
  'single',
  'tertiary',
  'no',
  221,
  'no',
  'no',
  'cellular',
  3,
  'feb',
  225,
  4,
  -1,
  0,
  'unknown',
  'no'),
 ('박민준',
  '01019948380',
  32,
  'blue-collar',
  'married',
  'secondary',
  'no',
  3166,
  'yes',
  'no',
  'cellular',
  20,
  'nov',
  418,
  3,
  -1,
  0,
  'unknown',
  'no'),
 ('오준서',
  '01066801890',
  27,
  'student',
  'single',
  'tertiary',
  'no',
  311,
  'no',
  'no',
  'cellular',
  28,
  'jul',
  462,
  1,
  148,
  4,
  'success',
  'yes'),
 ('홍지아',
  '01082601276',
  47,
  'management',
  'married',
  'tertiary',
  'no',
  60,
  'no',
  'no',
  'unknown',
  2,
  'jun',
  282,
  7,
  -1,
  0,
  'unknown',
  'no'),
 ('신주원',
  '01073872706',
  55,
  'retired',
  'married',
  'tertiary',
  'no',
  2929,
  'no',
  'no',
  'unknown',
  16,
  'jun',
  556,
  3,
  -1,
  0,
  'unknown',
  'no'),
 ('황서윤',
  '01012719589',
  34,
  'management',
  'single',
  'tertiary',
  'no',
  5,
  'no',
  'no',
  'cellular',
  18,
  'aug',
  370,
  2,
  -1,
  0,
  'unknown',
  'yes'),
 ('류지아',
  '01091336405',
  45,
  'blue-collar',
  'married',
  'secondary',
  'no',
  61,
  'yes',
  'yes',
  'unknown',
  23,
  'may',
  208,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('조하준',
  '01026492659',
  41,
  'technician',
  'married',
  'secondary',
  'no',
  188,
  'no',
  'yes',
  'telephone',
  31,
  'jul',
  15,
  25,
  -1,
  0,
  'unknown',
  'no'),
 ('서서윤',
  '01065476427',
  65,
  'retired',
  'married',
  'primary',
  'no',
  343,
  'no',
  'no',
  'telephone',
  5,
  'feb',
  159,
  2,
  -1,
  0,
  'unknown',
  'no'),
 ('한지호',
  '01062479221',
  47,
  'retired',
  'married',
  'secondary',
  'no',
  -71,
  'yes',
  'no',
  'cellular',
  11,
  'aug',
  293,
  5,
  -1,
  0,
  'unknown',
  'no'),
 ('임지민',
  '01009779981',
  39,
  'management',
  'single',
  'secondary',
  'no',
  120,
  'no',
  'no',
  'unknown',
  12,
  'jun',
  66,
  1,
  -1,
  0,
  'unknown',
  'no'),
 ('한하윤',
  '01047603492',
  38,
  'technician',
  'single',
  'tertiary',
  'no',
  5122,
  'yes',
  'no',
  'cellular',
  20,
  'nov',
  370,

In [8]:
users_df.columns

Index(['name', 'phone', 'age', 'job', 'marital', 'education', 'de_fault',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'deposit'],
      dtype='object')

In [9]:
users_df.columns.size

19

In [10]:
cursor.executemany("""
INSERT INTO USERS ('name', 'phone', 'age', 'job', 'marital', 'education', 'de_fault',
       'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'deposit')
       VALUES 
       (?,?,?,?,?,?,?,?,?,?, ?,?,?,?,?,?,?,?,?)
""", users)

conn.commit()

In [11]:
cursor.execute('select count(*) from users')
count = cursor.fetchall()
count

[(500,)]

In [12]:
# 이름으로 가져오기
name = '조서윤'
cursor.execute('SELECT * FROM users WHERE name LIKE ?', (name,))
user = cursor.fetchall()

len(user)

2

In [14]:
# 전화번호로 가져오기
phone = '01086200198'
cursor.execute('SELECT * FROM users WHERE phone LIKE ?', (phone,))
user = cursor.fetchall()

user

[('권서윤',
  '01086200198',
  40,
  'blue-collar',
  'married',
  'primary',
  'no',
  0,
  'no',
  'no',
  'cellular',
  24,
  'jul',
  313,
  1,
  -1,
  0,
  'unknown',
  'no')]