In [27]:
import pandas as pd
import numpy as np
import joblib
import sqlite3

name = '홍서연'
phone = '01099454336'
conn = sqlite3.connect('../bank_database.db')
cursor = conn.cursor()

cursor.execute('SELECT * FROM users WHERE name LIKE ? AND phone = ?', (name, phone))
user = cursor.fetchall()

user

[('홍서연',
  '01099454336',
  40,
  'unemployed',
  'divorced',
  'secondary',
  'no',
  262,
  'yes',
  'no',
  'unknown',
  14,
  'may',
  163,
  5,
  -1,
  0,
  'unknown',
  'no')]

In [28]:
data = list(user[0][2:])
term_loans = pd.DataFrame(data)
term_loans = term_loans.T
term_loans.columns = ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit']
term_loans

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,40,unemployed,divorced,secondary,no,262,yes,no,unknown,14,may,163,5,-1,0,unknown,no

In [29]:
#데이터 전처리
label_class = joblib.load('../label_class.pkl')
label_index = joblib.load('../label_index.pkl')

term_loans['job'] = term_loans['job'].map(label_index['job'])
term_loans['marital'] = term_loans['marital'].map(label_index['marital'])
term_loans['education'] = term_loans['education'].map(label_index['education'])
term_loans['contact'] = term_loans['contact'].map(label_index['contact'])
term_loans['poutcome'] = term_loans['poutcome'].map(label_index['poutcome'])
term_loans['month'] = term_loans['month'].map(label_index['month'])
term_loans['default'] = term_loans['default'].map(label_index['default'])
# term_loans['loan'] = term_loans['loan'].map(label_index['loan'])
term_loans['housing'] = term_loans['housing'].map(label_index['housing'])
term_loans['deposit'] = term_loans['deposit'].map(label_index['deposit'])

In [ ]:
term_loans

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,40,10,0,1,0,262,1,no,2,14,8,163,5,-1,0,3,0

In [32]:
X = term_loans.drop('loan', axis=1)
X

,age,job,marital,education,default,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,40,10,0,1,0,262,1,2,14,8,163,5,-1,0,3,0